.ctablasup {
	background-color: #666666;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
	padding-top: 2px;
	padding-bottom: 2px;
}


.caja_resalte {
	font-family: Arial, Helvetica, sans-serif;
	height: 12px;
	width: 50px;
	font-size: 14px;
	color:#D30000;
	text-align:right;
}


.caja_resalte1 {
	font-family: Arial, Helvetica, sans-serif;
	height: 12px;
	width: 100px;
	font-size: 12px;
	color:#D30000;
	text-align:right;
}

.ctablagris {
	/*background-color: #EEEEEE;*/
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
	text-align: left;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 5px;
}
.ctablablanc {
	/*background-color:#FFFFFF;*/
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
	text-align: left;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 5px;
}
.titulosup {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
}
.nombreusuario {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #FFFFFF;
}
.ctablaform {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #666666;
	text-align: left;
	padding-right: 0px;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 0px;
}
.textfield {
	font-family: Arial, Helvetica, sans-serif;
	height: 17px;
	width: 100px;
	font-size: 10px;
}
.textfieldlista {
	font-family: Arial, Helvetica, sans-serif;
	height: 18px;
	width: 160px;
	font-size: 10px;
}
a:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #999999;
	text-decoration: none;
}
a {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FF823B;
	text-decoration: none;
}
.textotabla1 {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
	text-align: left;
	padding-right: 2px;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 5px;
}

.textotabla01 {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
	text-align: left;
	padding-right: 2px;
	
	padding-left: 5px;
}
.textotabla001 {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #2E2E2E;
	text-align: left;
	padding-right: 2px;
	padding-left: 3px;
}

.textfield2 {

	font-family: Arial, Helvetica, sans-serif;
	height: 12px;
	width: 120px;
	font-size: 10px;
}
.textfield0010 {

	font-family: Arial, Helvetica, sans-serif;
	height: 12px;
	width: 30px;
	font-size: 10px;
}

.textfield002 {

	font-family: Arial, Helvetica, sans-serif;
	height: 12px;
	width: 180px;
	font-size: 10px;
}
.textfield003 {

	font-family: Arial, Helvetica, sans-serif;
	height: 12px;
	width: 90px;
	font-size: 10px;
}
.textfield02 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	
}

.textfield01 {
	font-family: Arial, Helvetica, sans-serif;
	height: 12px;
	width: 80px;
	font-size: 10px;
	text-align:right;
}

.textfield01_1 {
	font-family: Arial, Helvetica, sans-serif;
	height: 12px;
	width: 40px;
	font-size: 10px;
	text-align:right;
}


.textfield100 {
	font-family: Arial, Helvetica, sans-serif;
	height: 12px;
	font-size: 10px;
	text-align:right;
}

.textfield3 {


	font-family: Arial, Helvetica, sans-serif;
	height: 12px;
	width: 270px;
	font-size: 10px;
}
.textfieldlista2 {

	font-family: Arial, Helvetica, sans-serif;
	height: 18px;
	width: 80px;
	font-size: 10px;
}
.textorojo {


	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #FF0000;
	text-align: left;
	padding-right: 2px;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 5px;
}
.SELECT{

	font-family: Arial, Helvetica, sans-serif;
	height: 25px;
	font-size: 10px;
}
.SELECT01{

	font-family: Arial, Helvetica, sans-serif;
	height: 20px;
	width: 200px;
	font-size: 10px;
}

.fecha {

	font-family: Arial, Helvetica, sans-serif;
	height:12px;
	width:100px;
	font-size: 10px;
}
.botones {
	font-family: Tahoma;
	font-size: 10px;
	font-weight: bold;
	color: #666666;
	margin: 1px;
	padding: 1px;
	background-position: center;
	border: 1px solid #666666;
}	

.pestana {
	color: #666666 
	text-decoration:none;
	font-size: 11px;
	
	
}


.textfiel_caja {

	font-family: Arial, Helvetica, sans-serif;
	height: 12px;
	width: 100px;
	font-size: 10px;
}
.caja_mediana{

	font-family: Arial, Helvetica, sans-serif;
	height: 12px;
	width: 80px;
	font-size: 10px;
}
